*.iml
.gradle
.kotlin
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.env
debug.keystore
/.idea/.gitignore
/.idea/.name
/.idea/AndroidProjectSystem.xml
/apex-f1-upload-key.jks
/app/release/app-release.apk
/.idea/codeStyles/codeStyleConfig.xml
/.idea/compiler.xml
/.idea/deploymentTargetSelector.xml
/.idea/deviceManager.xml
/.idea/gradle.xml
/gradle/gradle-daemon-jvm.properties
/gradle/wrapper/gradle-wrapper.jar
/gradlew
/gradlew.bat
/app/release/mapping.txt
/.idea/misc.xml
/app/release/output-metadata.json
/.idea/codeStyles/Project.xml
/.idea/runConfigurations.xml
/.idea/vcs.xml
